<%= form_for(@outcome_mapping) do |f| %>
  <% if @outcome_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outcome_mapping.errors.count, "error") %> prohibited this outcome_mapping from being saved:</h2>

      <ul>
      <% @outcome_mapping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :outcome_group_id %><br />
    <%= f.number_field :outcome_group_id %>
  </div>
  <div class="field">
    <%= f.label :outcome_id %><br />
    <%= f.number_field :outcome_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
