
    <%= f.label :initial_term_id, t("activerecord.attributes.outcome_group.initial_term_id", :default => "Initial term"), :class => :label %>
    <%= f.number_field :initial_term_id, :class => 'number_field' %>

    <%= f.label :title, t("activerecord.attributes.outcome_group.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", outcome_groups_path %>
</div>
