<%= form_for(@offering) do |f| %>
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% @offering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :term_id %>
  <%= f.text_field :title %>

  <h3>Course Content</h3>
  <ul class="tabs" data-tabs="tabs">
    <% @offering.content_groups.each_with_index do |cg, i| %>
      <li class="<%= 'active' if i == 0 %>"><a href="#<%= dom_id(cg) %>"><%= cg.name %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
  <%= f.fields_for :content_groups do |cgf, i| %>
    <div id="<%= dom_id(cgf.object) %>" 
         class="tab-pane 
                <%= 'active' if @offering.content_groups.to_a.find_index(cgf.object) == 0 %>"
                > 
      <%= cgf.text_field :name %>

      <table>
        <tr>
          <th></th>
          <% @outcomes.each do |outcome| %>
            <th><abbr title="<%= outcome.title %>"><%= outcome.key %></abbr></th>
          <% end %>
        </tr>
        <%= cgf.fields_for :content do |cf| %>
          <tr>
            <th><%= cf.text_field :title %></th>
            <%= cf.fields_for :mappings do |mf| %>
              <td>
                <%= mf.text_field :value, :class => 'number_field' %>
                <%= mf.hidden_field :outcome_id %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
  </div>

  <div class="actions">
    <button class="btn primary" type="submit">Save</button> or
      <%= link_to 'Cancel', offerings_path %>
  </div>
<% end %>
