
    <%= f.label :name, t("activerecord.attributes.term.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>

    <%= f.label :outcome_group_id, t("activerecord.attributes.term.outcome_group_id", :default => "Outcome group"), :class => :label %>
    <%= f.number_field :outcome_group_id, :class => 'number_field' %>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", terms_path %>
</div>
