
  <label class="label"><%= t("activerecord.attributes.term.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
  <p><%= @term.name %></p>

  <label class="label"><%= t("activerecord.attributes.term.outcome_group_id", :default => t("activerecord.labels.outcome_group_id", :default => "Outcome group")) %>:</label>
  <p><%= @term.outcome_group_id %></p>
<%= link_to "Back", terms_path  %>
