<h1>Listing content_groups</h1>

<table>
  <tr>
    <th>Offering</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_groups.each do |content_group| %>
  <tr>
    <td><%= content_group.offering_id %></td>
    <td><%= content_group.name %></td>
    <td><%= link_to 'Show', content_group %></td>
    <td><%= link_to 'Edit', edit_content_group_path(content_group) %></td>
    <td><%= link_to 'Destroy', content_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content group', new_content_group_path %>
