<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>"style="padding-top: 60px">
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <h3><%= link_to "Map", "/" %></h3>
        <ul class="nav">
          <li><%= link_to "Terms", terms_path  %></li>
          <li><%= link_to "Offerings", offerings_path  %></li>
         <li class="<%= controller.controller_path == 'outcome_groups' ? 'active' : '' %>"><a href="<%= outcome_groups_path %>">OutcomeGroups</a></li> <li class="<%= controller.controller_path == 'terms' ? 'active' : '' %>"><a href="<%= terms_path %>">Terms</a></li></ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span11">
          <%= yield %>
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span4">
          <h3>Sidebar</h3>
          <% yield :sidebar %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
